h1.scHeader{
    padding-top: 25px;
    font-size:180%;
    font-weight:bold;
}

div.sc1{
    text-align:center;
}

p.errorMessage{
    color:red;
}

h3.subHeader{
    font-size: 130%;
    font-weight: bold;
}

input.numInput{
    max-width: 40px;
}
/*ITEM DISPLAY*/
div.container1SC{
    width:13.4%;
    text-align:center;
    height: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
div.container1SCHeader{
    width:13.4%;
    text-align:center;
}

div.container2SC{
    width:11.6%;
    text-align:center;
    height: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
div.container2SCHeader{
    width:11.6%;
    text-align:center;
}
div.containerReturnHeader{
    width:19%;
    text-align:center;
}
div.containerReturn{
    width:19%;
    text-align:center;
    height: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
}

hr.horiz{
    padding-bottom: 2px;
    margin-left: -5%;
    margin-right: -5%;
    background-color: black;
      background-color: black;
      color:black;
      border-color: black;
      border: none; 
}

div.red{
    background-color: lightpink;
    width:11.6%;
    text-align:center;
    height: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.grey{
    width:11.6%;
    text-align:center;
    height: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.green{
    background-color: lightgreen;
    width:11.6%;
    text-align:center;
    height: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
}

p.workerID{
    text-align:right;
    margin-right: 3%;
}

div.vert{
    width:1%
}

  div.itemContainerSC{
    display: flex;
    align-items: center;
  }

  p.itemHeader{
      font-size: 125%;
      font-weight: bold
  }

  fieldset.SC{
      margin-left:5%;
      margin-right:5%;
  }

  fieldset.Return{
      margin-left:10%;
      margin-right:10%;
  }

  hr.vert{
      margin-left:40%;
      margin-top:-8px;
      width:20%;
      height: 120px;
      background-color: black;
      background-color: black;
      color:black;
      border-color: black;
      border: none;
  }
  hr.vertHeader{
    margin-left:40%;
      margin-top:-8px;
      width:20%;
      height: 30px;
      background-color: black;
      color:black;
      border-color: black;
      border: none;
  }